@import 'nib'

radius = 3px
link-color = gray
col = 150px

background-radial(start, end)
  background: start
  background: -moz-radial-gradient(center, ellipse cover, start 0%, end 100%)
  background: -webkit-radial-gradient(center, ellipse cover, start 0%, end 100%)
  background: -o-radial-gradient(center, ellipse cover, start 0%, end 100%)
  background: radial-gradient(ellipse at center, start 0%, end 100%)

*
  box-sizing: border-box
.rtl
  direction: rtl

body
  margin: 0
  padding: 60px

.container
  width: 960px
  max-width: 940px

#main
  background-radial: #f1f0ec #d7d7d7
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4)
  margin-bottom: 15px
  border-radius: radius

footer
  color: link-color
  a
    color: @color
    transition: color .3s
    &:hover
      color: white
      text-decoration: none
h1
  float: left
  margin: 5px 10px
  padding: 0
  line-height: 50px
  background: url(../img/logo.png)
  font-size: 0
  width: 59px
  height: 40px
  a
    size: 100%
    display block

nav
  padding: 5px 0
  font-weight: bold
  border-bottom: 1px solid #fefefe
  .navbar-nav a
    display: block
    size: 100%
    color: link-color
    transition: color .3s
    margin: 18px 0
    padding: 0 5px
    line-height 1em
    font-weight normal
    border-right: 1px solid #383838
    &.active
      color: #383838
      font-weight: bold
  li:last-child a
      border-right: none

#content
  height: 730px

.middle
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  text-align: center

section
  size: 100%
  position: relative

// Gallery
.gallery
  height: 100%
  padding-top: 30px
  .figure
    /*@extend .middle*/
    text-align: center
    height: 80%

.slider
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 100px
  margin: 0
  padding: 5px
  overflow-x: hidden
  a
    float: left
    padding: 5px
    img
      transition: transform .2s
    &:hover img
      transform: scale(1.2)

  &.left
    left: 0
    top: 0
    width: 100px
    height: 83%
    overflow-y: hidden

// Pages
.content
  padding: 20px col
  ul
    position: absolute
    left: 0
    width: col
    padding: 0 30px
    list-style: none
    &.rtl
      right: 0
      left: auto
    h3
      margin: 10px 0
      font-size: 1.2em
    a
      color: link-color
      padding: 5px 0
      display: inline-block
  article
    size: 100%
    padding: 0 20px
    background: white
    border-radius: radius
    overflow-y: auto
