* { box-sizing: border-box; }
body {
    margin: 0; padding: 40px;
    /*background: url(../img/debut_dark.png);*/
    background: #fefefe;
}
.container {
    width: 800px;
}
#main {
    background: #f1f0ec;
    background: -moz-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #f1f0ec 0%,#d7d7d7 100%);
    background: -o-radial-gradient(center, ellipse cover, #f1f0ec 0%,#d7d7d7 100%);
    background: radial-gradient(ellipse at center, #f1f0ec 0%,#d7d7d7 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    margin-bottom: 15px;
    border-radius: 2px;
}
footer, footer a { color: gray; }
h1 {
    float: left;
    margin: 5px 20px; padding: 0;
    line-height: 50px;
    background: url(../img/logo.png);
    font-size: 0;
    width: 59px; height: 40px;
}
nav {
    font-weight: bold;
    border-bottom: 1px solid #fefefe;
}
#content {
    height: 580px;
}
.mid {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.gallery {
    height: 100%;
    position: relative;
}
.gallery figure {
    height: 80%;
}
.pager {
    position: absolute; bottom: 0; left: 0;
    width: 100%; height: 100px;
    margin: 0; padding: 5px;
    overflow-x: hidden;
}
.pager a {
    float: left;
    padding: 5px;
}
.pager a img {
    -webkit-transition: -webkit-transform .2s;
}
.pager a:hover img {
    -webkit-transform: scale(1.2);
}

.pager.left {
    left: 0; top: 0;
    width: 100px; height: 83%;
    overflow-y: hidden;
}

/*
    #d7d7d7
    #f1f0ec
*/
