* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rtl {
  direction: rtl;
}
body {
  margin: 0;
  padding: 60px;
  background: #fefefe url("../img/debut_dark.png");
}
.container {
  width: 800px;
}
#main {
  background: #f1f0ec;
  background: -moz--webkit-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -moz--moz-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -moz--o-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -moz--ms-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -moz-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -webkit--webkit-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -webkit--moz-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -webkit--o-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -webkit--ms-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -o--webkit-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -o--moz-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -o--o-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -o--ms-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -o-radial-gradient(center, ellipse cover, #f1f0ec 0%, #d7d7d7 100%);
  background: -webkit-radial-gradient(ellipse at center, #f1f0ec 0%, #d7d7d7 100%);
  background: -moz-radial-gradient(ellipse at center, #f1f0ec 0%, #d7d7d7 100%);
  background: -o-radial-gradient(ellipse at center, #f1f0ec 0%, #d7d7d7 100%);
  background: -ms-radial-gradient(ellipse at center, #f1f0ec 0%, #d7d7d7 100%);
  background: radial-gradient(ellipse at center, #f1f0ec 0%, #d7d7d7 100%);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
footer {
  color: #808080;
}
footer a {
  color: #808080;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
h1 {
  float: left;
  margin: 5px 20px;
  padding: 0;
  line-height: 50px;
  background: url("../img/logo.png");
  font-size: 0;
  width: 59px;
  height: 40px;
}
nav {
  padding: 5px;
  font-weight: bold;
  border-bottom: 1px solid #fefefe;
}
nav a {
  display: block;
  width: 100%;
  height: 100%;
  color: #808080;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
nav a.active {
  text-transform: uppercase;
}
#content {
  height: 530px;
}
.middle {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
section {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery {
  height: 100%;
  padding-top: 30px;
}
.gallery .figure {
/*@extend .middle*/
  text-align: center;
  height: 80%;
}
.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 5px;
  overflow-x: hidden;
}
.slider a {
  float: left;
  padding: 5px;
}
.slider a img {
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  transition: transform 0.2s;
}
.slider a:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.slider.left {
  left: 0;
  top: 0;
  width: 100px;
  height: 83%;
  overflow-y: hidden;
}
.content {
  padding: 20px 150px;
}
.content ul {
  position: absolute;
  left: 0;
  width: 150px;
  padding: 0 30px;
  list-style: none;
}
.content ul.rtl {
  right: 0;
  left: auto;
}
.content ul h3 {
  margin: 10px 0;
  font-size: 1.2em;
}
.content ul a {
  color: #808080;
  padding: 5px 0;
  display: inline-block;
}
.content article {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
